[Unit]
Description=auth listener
After=network.target rabbitmq-server.service mysql.service

[Service]
ExecStart=/usr/bin/php /home/allen/TeamCyber/rabbitmqphp_example_TeamCyber490/authdb_listener.php
WorkingDirectory=/home/allen/TeamCyber/rabbitmqphp_example_TeamCyber490
Restart=always
User=allen

[Install]
WantedBy=multi-user.target